.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  border-color: black;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
  padding: 0.4rem 0.75rem;
  outline: none;
}

.container.errored {
  border-color: #d71c1cd1;
}

.input {
  border: none;
  outline: none;
}